/* GENERAL STYLING */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: #23037a;
}


/* HEADER */

header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 40px;
    background:#073e1d;
    color:white;
}

.logo{
    display:flex;
    align-items:center;
    gap:10px;
}

.logo img{
    width:100px;
    height:100px;
    border-radius:30px;   /* makes edges not sharp */
}


/* NAVIGATION */

nav a{
    color:white;
    text-decoration:none;
    margin-left:20px;
    font-size:16px;
}

nav a:hover{
    color:#ff4d4d;
}


/* HERO SECTION */

.hero{
    height:400px;
    background:url("images/hero.jpg");
    background-size:cover;
    background-position:center;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    color:white;
    text-align:center;
}

.hero h2{
    font-size:40px;
    margin-bottom:10px;
}

.hero p{
    font-size:18px;
    margin-bottom:20px;
}

.btn{
    background:#ff5a1f;
    color:white;
    padding:12px 25px;
    text-decoration:none;
    border-radius:5px;
}

.btn:hover{
    background:#e63c3c;
}


/* FEATURED CARS */

.featured-cars{
    padding:40px;
    text-align:center;
}

.car-container{
    display: grid; /* switch from flex to grid */
    grid-template-columns: repeat(4, 1fr); /* 4 cards per row */
    gap: 30px; /* space between cards */
    margin-top: 30px;
}

.car-card img{
    width:100%;
    height:200px; /* ensures same height for all images */
    object-fit: cover; /* keeps proportions without stretching */
    border-radius:8px;
}

.car-card{
    background:white;
    padding:15px;
    border-radius:10px;
    box-shadow:0px 4px 10px rgba(0,0,0,0.2);
    text-align:center;
}

.car-card h3{
    margin:10px 0;
}

.car-card button{
    background:#111;
    color:white;
    border:none;
    padding:10px 15px;
    border-radius:5px;
    cursor:pointer;
}

.car-card button:hover{
    background:#ff4d4d;
}


/* ABOUT SECTION */

.about{
    padding:40px;
    text-align:center;
    background:white;
}


/* CONTACT FORM */

.contact{
    padding:40px;
    text-align:center;
    color:brown;
}

form{
    max-width:400px;
    margin:auto;
}

form input, form textarea{
    width:100%;
    padding:10px;
    margin:10px 0;
    border:1px solid #ccc;
    border-radius:5px;
}

form button{
    background:#ff4d4d;
    color:white;
    border:none;
    padding:10px 20px;
    border-radius:5px;
    cursor:pointer;
}

form button:hover{
    background:#e63c3c;
}


/* FOOTER */

footer{
    background:#111;
    color:white;
    text-align:center;
    padding:15px;
    margin-top:30px;
}